<html>
<body>
    <p>Ma semaine</p>
    <p>{{ text }}</p>
    <div class="row" height="30px">
        <div class="col-xs-6" style="background-color:green; text-align:center; padding-top:5px; padding-bottom:5px;">Féculent<br/>Légume<br/>Protéine</div>
        <div class="col-xs-6" style="background-color:orange; text-align:center; padding-top:5px; padding-bottom:5px;">Lundi soir</div>
    </div>
    <div class="row">
        <div class="col-xs-6">Mardi midi</div>
        <div class="col-xs-6">Mardi soir</div>
    </div>
    <div class="row">
        <div class="col-xs-6">Mercredi midi</div>
        <div class="col-xs-6">Mercredi soir</div>
    </div>
    <div class="row">
        <div class="col-xs-6">Jeudi midi</div>
        <div class="col-xs-6">Jeudi soir</div>
    </div>
    <div class="row">
        <div class="col-xs-6">Vendredi midi</div>
        <div class="col-xs-6">Vendredi soir</div>
    </div>
    <div class="row">
        <div class="col-xs-6">Samedi midi</div>
        <div class="col-xs-6">Samedi soir</div>
    </div>
    <div class="row">
        <div class="col-xs-6">Dimanche midi</div>
        <div class="col-xs-6">Dimanche soir</div>
    </div>


</body>
</html>
